%html
  %head
    %title -> Exporter
  %body
    %form name="export_form" method="POST" action="/export"
      {{ form.hidden_tag()}}
      {{ form.tables.label}} {{ form.tables }}
      %input type="submit" value="Download"
